<main class="page-tab pt-3" id="tab-videosTableView">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.videosTable.css">
    <div class="row <%- define.Theme.isDark ? `dark` : '' %>">
        <%
          var drawBlock
          var buildOptions
        %>
        <%
            include fieldBuilders.ejs
        %>
        <% Object.keys(define['Videos Table'].blocks).forEach(function(blockKey){
              var theBlock = define['Videos Table'].blocks[blockKey]
              drawBlock(theBlock)
          }) %>
    </div>
    <div style="margin-bottom: 50px;"></div>
    <h4 class="sticky-bar p-3 d-flex flex-row">
        <div>
            <div class="dropdown">
              <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="monitorsListOptions" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars"></i>
              </button>
              <ul class="dropdown-menu <%- `${define.Theme.isDark ? 'dropdown-menu-dark bg-dark text-white' : 'bg-light text-dark'}` %> shadow-lg" aria-labelledby="monitorsListOptions">
                <li><a class="dropdown-item download-selected-videos cursor-pointer"><%- lang.Download %></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item archive-selected-videos cursor-pointer"><%- lang.Archive %></a></li>
                <li><a class="dropdown-item unarchive-selected-videos cursor-pointer"><%- lang.Unarchive %></a></li>
                <li><a class="dropdown-item compress-selected-videos cursor-pointer"><%- lang.Compress %></a></li>
                <!-- <li><a class="dropdown-item merge-selected-videos cursor-pointer"><%- lang.Merge %></a></li> -->
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item delete-selected-videos cursor-pointer"><%- lang.Delete %></a></li>
              </ul>
            </div>
        </div>
    </h4>
    <script src="<%-window.libURL%>assets/js/bs5.videosTable.js"></script>
</main>
